tt {
    background-color: transparent;
    padding: 0;
}

div.syntaxhighlighter {
    background-color: #f5f5f5;
    padding: 5px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

.syntaxhighlighter, .syntaxhighlighter .line.alt1, .syntaxhighlighter .line.alt2 {
    background-color: transparent;
}

#poweredBy {
    display: none;
}